
  <div class="w-1/2"> 
  <div class="flex justify-center mt-2">
    <h2 class="text-xl font-bold"> <%= @recipe.name %></h2> 
  </div>

<div class="border grid gap-4 grid-cols-2 p-1 mb-4 mt-4">
  <div>
    <h3>Preparation time: <%= @recipe.preparation_time %> min</h3>
    <p>Cooking time: <%= @recipe.cooking_time %> min</p>
    <p>Steps: </p>
    <p> <%= @recipe.description %> </p>
  </div>
  <div>
      
      <% if @recipe.public %>

  <div class="form-check form-switch flex justify-end">
    <input class="form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm pointer-events-none filter-none opacity-50" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked>
    <label class="form-check-label inline-block text-gray-800 opacity-50" for="flexSwitchCheckCheckedDisabled">Public</label>
  </div>
      
      <% end %>
   
  </div>
</div>


  <div class="flex justify-between mt-4">
    <%= link_to "Generate shopping list", user_recipe_shopping_list_index_url(current_user.id, @recipe.id), :class => "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %> 
    <%= link_to "Add ingredients",  new_user_recipe_recipe_food_url(current_user.id, @recipe.id), :class => "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
  </div>
<div class="flex flex justify-center mt-4">
  <% if @recipe_foods.any? %>
<table class="w-4/5 mt-2">
      <tr>
    <th class="text-lg font-bold" >Food</th>
    <th class="text-lg font-bold">Quantity</th>
    <th class=" text-lg font-bold">Value</th>
    <th class=" text-lg font-bold">Actions</th>
  </tr>
    

      <% @recipe_foods.each do |recipe_food| %>
      <% food = Food.find(recipe_food.food_id) %>
      <tr class= "border">
        <td class="border"> <%= Food.find(recipe_food.food_id).name %> </td>
        <td class="border"> <%= recipe_food.quantity %></td>
        <td class="border"> <%= food.measurement_unit %></td>
        <td class="border grid grid-cols-2"> 
          <%= link_to "Modify","/foods", :class => "underline text-blue-600 " %>
          <%= button_to "Delete", user_recipe_food_recipe_food_path(current_user.id, @recipe.id, food.id, recipe_food.id), method: :delete, 
                  data: {confirm: 'Are you sure?'}, class: "underline text-blue-600" %>
        </td>
      </tr>
      <% end %>
    </table>
      <% end %>



  </div>
</div>